/*
 * Custom CSS
 */

:root {
  --bs-body-bg: #ebe9e8;
  --bs-primary: #ef3d36;
  --bs-secondary: #0b4076;
  --bs-tertiary: #6d6e70;
  --text-primary: #ff706b;
  --bs-primary-rgb: 239, 61, 54;
}

html,
body {
  color: #6d6e70;
  background-color: #ebe9e8;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff706b !important;
}

.content {
  background-color: #ebe9e8;
}

.container.content.abouts {
  min-height: calc(100vh - 102px - 149px - 344px);
}

.container.content.services {
  min-height: calc(100vh - 102px - 149px);
}

.nav-item {
  height: 30px;
}

.nav-link {
  text-transform: uppercase;
  padding: 0;
  font-weight: bold;
}

.nav-link:hover,
.nav-link.active {
  border-bottom: 2px solid var(--bs-primary);
  color: var(--bs-secondary);
}

.divider-top {
  height: 10px;
  background-color: var(--bs-primary);
}

.copyright {
  background: var(--bs-primary);
}

.footer {
  border-top: 3px double #bebebe;
  background: #f0efef;
  color: var(--bs-secondary) !important;
}

.text-justify {
  text-align: justify;
}

/* PGR SECTION */

.pgr-title {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: #9b9b9b;
}

.pgr-img {
  height: fit-content;
  max-width: 70px;
}

.pgr-text {
  font-size: 0.8rem;
}
